---
page_classes: pc_index
---

#nav-mobile.side-nav
  = partial "drawer"

.actionbar
  .search-container
    .container
      .card style=("margin: 0; padding: 0;")
        input#search/
        i.fa.fa-search.fa-lg
        a.normal_color.show-on-large data-activates="nav-mobile" data-action="sidenav" href="#"
          i.fa.fa-bars.fa-lg
  .container
    .search-spacing
    .logo-container
      a href="pc_index.html"
        img.responsive-img src="images/pc_logo.png" style=("padding: .2em 0 0;") /

.container
  .card-panel.grey.lighten-5.z-depth-1
    .row.valign-wrapper
      .col.s3.offset-s2
        img alt="" src="http://webadm.hccg.gov.tw/_file/1852/upload/1218/mayor1224.jpg" style="border-radius:6px;" /
        div style="overflow-x: visible; white-space: nowrap;"
          a href="https://www.facebook.com/taiwango0527" target="_blank"
            i.fa.fa-facebook-official.fa-3x style="color:#333;"
          i.fa.fa-envelope.fa-3x style="color:#333; padding-left: .5em;"
      .col.s12 style="padding-left:150px;"
        span.black-text
        h4 個人簡歷
        | 姓　名：林智堅
        br/
        | 出生地：新竹市
        br/
        | 學 歷：
        ul
          li 中華大學科技管理研究所碩士
          li 中華大學企業管理系
        | 經歷
        ul
          li 台灣大學國家發展研究所在職碩士班。
          li 民主進步黨新竹市黨部第13、14屆主任委員。
          li 第八屆新竹市議員。
          li 新竹市議會民主進步黨黨團總召。

